 <div class="flex h-screen items-center">
  <div class="mx-auto container">
    <%= turbo_frame_tag "30days", src: '/per_thirty_days', loading: "lazy" %>
  </div>
  <div class= "flex justify-center"></div>
</div>

