<h1>Leads#lead_created</h1>

<%= @lead.email %>
<%= @lead.full_name %>

<p class= "text-lg text-center font-semibold italic">
  <%= @greeting %>, find me in app/views/leads_mailer/lead_created.html.erb
</p>
